
@font-face {
  font-family: 'PingFang SC-b';
  src: url('PingFangSC-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PingFang SC';
  src: url('PingFangSC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'youshe';
  src: url('YouSheBiaoTiHei.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

